
.card-diretor{
    align-items: center;
    text-align: center; 
    
}

.texto-titulo{
    background-color: #0071CF;
    color: white;
    height: auto;
    width: 1300px;
    position: relative;
    padding: 15px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    /* margin-left: 20px;
    margin-right: 20px; */
    line-height: 30px;
    /* border: 3px solid #73AD21; */

}

.texto-titulo p{
    font-size: 30px;
    

}

.card-diretor .texto-bibliografico{
    font-size: medium;
    position: relative;
    align-items:justify;
    text-align: justify;
    width: 500px;
    margin-left: 415px;
    padding-bottom: 30px;
    

    /* border: 3px solid #73AD21; */
}

.imagem-diretor{
    height: auto;
    position: relative;
    padding: 5px ;
    align-items: center;
    text-align: center;
    display: block;
   
}

.texto-descricao-diretor{
    background-color: #0071CF;
    color: white;
    height: auto;
    width: 500px;
    position: relative;
    padding: 15px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-right: 400px;
    margin-left: 400px;
}