* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial;
    width: 100%;
    height: 100%;
}

body #cabeca {
    background-color: #0071CF;
    box-shadow: 0 0 1em #0071CF;
    width: auto;
    height: auto;
    position: relative;
    padding: 15px;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;


}

body #cabeca #topo {
    list-style-type: none;

}

h1 {
    font-size: 20px;
    color: white;
    padding-left: 30px;
}

h2 {
    font-size: 15px;
    color: white;
    padding-left: 30px;
}

h3 {
    padding-top: 10px;
}

img {
    border-radius: 50%;
}

footer {
    background-color: #e7e7e5;
    position: fixed;
    clear: both;
    opacity: 0.8;
    width: 100%;
    height: 50px;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.container .card-divisoes {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* rtl:begin:ignore */
.container .card-divisoes {
    margin-right: .75rem;
    margin-left: .75rem;
}

@media print{
    .body {
        padding-top: 0px;
        transform: scale(0.5);
    }

}

/* @media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        width: 0;

    }
    .container .card-diretor {
        padding: 50%;
    }
    .container-secretaria .card-secretaria {
        padding: 50%;
    }
    .container-subsecretaria .card-subsecretaria{
        padding: 50%;
    }
    .container .card-divisoes{
       
        padding: 50%;
    }
  } */